
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
    }

    h1 {
        color: #fff;
        font-size: 36px;
        text-align: center;
        padding-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        border-radius: 10px;
        background-color: #2E2D4E;
        max-width: 50%;
        width: 400px;
        margin-bottom: 20px;

        & button {
            border-radius: 30px;
            background-color: #8B8AE1;
            height: 40px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            color: white;
            font-size: 16px;
        }
        & button:hover {
            opacity: 0.8;
        }
    }

    form input {
        height: 40px;
        font-size: 18px;
    }

    .resultado {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        border-radius: 10px;
        background-color: #2E2D4E;
        max-width: 100%;
        width: 400px;
        margin-bottom: 20px;
        color: white;
    }
    
    .resultado > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .resultado p {
        margin: 0;
    }
    
    .resultado button {
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline-block;
    }
    
    .resultado button img {
        height: 20px;
        width: 20px;
        filter: invert(100%);
    }


    @media (max-width: 700px) {
        form {
            max-width: 80%;
        }

        .resultado {
           width: 350px;
        }
      }